{% extends 'base.html.twig' %}

{% block title %}Sharecipe - Recettes de la communauté
{% endblock %}

{% block body %}
	<div class="container mt-5">
		{% if not recipes is same as ([]) %}
			<h1>Recettes de la communauté</h1>


			<div class="d-flex flex-wrap justify-content-center">
				{% for recipe in recipes %}
					<div class="card text-white bg-primary m-2" style="max-width: 20rem;">
						<div class="card-header">Recette n°
							{{recipe.id}}
						</div>
						<div class="card-body">
							<h4 class="card-title">{{recipe.name}}</h4>
							<p class="card-text">{{recipe.description|slice(0, 100) ~ '...'}}</p>
							<div>
								<a href="{{ path('recipe.show', {'id': recipe.id}) }}" class="btn btn-secondary">Voir la recette</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>Il n'y a pas encore de recettes dans la communauté</p>
			<a href="{{ path('recipe.new') }}" class="btn btn-primary mt-4 mb-4">Ajouter une recette</a>
		{% endif %}
	</div>
{% endblock %}
